<launch>


  <node pkg="base_controller" type="walk_controller.py" name="gait_controller" output="screen">
  </node>
  <node pkg="base_controller" type="servo_controller.py" name="servo_controller" output="screen">
  </node>

  <node type="raspicam_node" pkg="raspicam_node" name="raspicam_node" output="screen">

    <param name="width" value="800"/>
    <param name="height" value="600"/>
    <param name="exposure_mode" value="antishake"/>
    <param name="framerate" value="30"/>
    <param name="hFlip" value="true"/>
    <param name="vFlip" value="true"/>

    <param name="camera_frame_id" value="raspicam"/>

  </node>



</launch>
